
@model  IEnumerable<ExpITMidterm.Models.Courses>
      ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>

@foreach (var course in Model)

{
<div class="panel-body">
    @*<p>@course.Id</p>*@
    <h2>@course.CourseName</h2>
    <p>@course.CourseDescription</p>
    <h3>@course.TutorName</h3>
    <p>@course.CourseRating</p>
</div>
}

